.header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    min-width: 100%;
    padding: 1rem 2rem;
}

.form {
    width: 80%;
    max-width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
}

h2 {
    color: var(--text-100);
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}

.title-header {
    background: var(--color-gradient-laranja);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

input[type="text"] {
    background-color: var(--color-primary-roxo);
    min-width: 50%;
    height: clamp(30px,35px, 50px);
    border-radius: 30px;
    border: 2px solid var(--color-border-20);
}

input::placeholder {
    padding: 20px 20px 20px 30px;
    color: var(--text-100);
    font-weight: 400;
    font-size: 15px;
}



input:focus,
input:valid {
    padding-left: 30px;
    color: var(--text-100);
    border-color: rgba(0, 0, 0, 0.3);
}