.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    min-width: 100%;
    padding: 1rem 2rem;
    height: 70px;

    background-color: var(--blue-500);
}

.nav {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 24px;
}

.form {
    position: relative;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
    height: 100%;
}

.form .btn-form {
    position: absolute;
    right: 2px;

    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* .btn-form > img {
    height: 100%;
} */
.btn-form:hover{
    transition: all .3s ease ;
    background-color: rgba(192, 192, 192, 0.2);
}

.title-header {
    color: var(--color-white);
    font-size: 22px;
    font-weight: 700;

    user-select: none;
}

.input-form {
    background-color: var(--color-white);

    padding: 12px 16px 12px;
    min-width: 50%;
    height: 36px;
    border-radius: 30px;
    width: 600px;
    color: var(--blue-500);
}

input::placeholder {
    /* padding: 20px 20px 20px 30px; */
    color: var(--blue-500);
    font-weight: 400;
    font-size: 15px;
}

/* input:focus,
input:valid {
    border-color: rgba(0, 0, 0, 0.3);
} */