@import url(../global.css);

.hero-content {
    display: flex;
    flex-direction: row;
}

.cidade-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.data {
    color: var(--branco-70);
    font-size: clamp(0.5rem, 0.9rem, 1.3rem);
    text-wrap: nowrap;
}

/* corrigido: retirado o CSS aninhado (isso só funciona em SASS) */
.cidade-content .cidade {
    color: var(--branco-100);
    font-size: clamp(1rem, 2vw, 3rem);
}

.cidade-content .vector-clima {
    width: clamp(30px, 25vw, 200px);
    height: clamp(30px, 25vw, 200px);
}

.cidade-content .descricao-clima {
    color: var(--branco-70);
    font-size: clamp(1rem, 1.3rem, 3rem);
}

.previsoes-atual {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-left: 25px;
}

.previsoes-atual span {
    text-wrap: nowrap;
}

.previsoes-atual ul {
    position: relative;
    left: 10px;
}

.previsoes-atual .temperatura {
    font-size: clamp(1rem, 11vw, 13rem);
    background-color: #ffffff;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0;
    -webkit-background-clip: text;
    color: transparent;
}

.previsoes-atual .chuva,
.previsoes-atual .umidade,
.previsoes-atual .vento {
    font-size: clamp(0.8rem, 1.8vw, 2rem);
    color: var(--branco-70);
}
