:root{
    --branco-100: rgba(255, 255, 255, 1);
    --branco-90: rgba(255, 255, 255, 0.9);
    --branco-70: rgba(255, 255, 255, 0.7);
    --cor-bg-dias: rgba(72, 49, 157, 0.2);
    --cor-bg-body: linear-gradient(135deg, #2E335A 0%, #1C1B33 100%);
    --cor-temp: rgba(255, 255, 255, 1);
    --cor-logo: #FFFFFF;
}


.btn-historico {
    position: absolute;
    top: 10px;
    left: 20px;
    background: linear-gradient(90deg, #1d2332, #222);
    color: var(--branco-100);
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    padding: 3px;
    min-height: 40px;
    max-height: max-content;
    transition: background-color 0.3s ease;
}

.btn-historico:hover {
    background: #48319d;
}

.historico-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, rgba(46, 51, 91, 0.2), rgba(28, 27, 51, 0.2));
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2),
  inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  padding: 30px;
  max-width: 600px;
  max-height: 450px;
  justify-content: center;
  align-items: center;
  transition: display all 0.3s ease-in-out;
}

.historico-container h2 {
  margin-bottom: 10px;
  color: #fff;
}

.historico-lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 300px;
  overflow-y: auto;
}

.item-historico {
  padding: 12px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  color: #fff;
  border-left: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.btn-limpar {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.8);
  color: #1d2332;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
}

.btn-limpar:hover {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, #2E335A 0%, #1C1B33 100%);
}