.box-low {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.8rem 1.5rem;
    width: fit-content;
    border-radius: 20px;
}

.box-low {
    display: flex;
    flex-direction: column;
    align-items: start;

    .titulo {
        font-size: 10px;
        font-weight: 400;
        color: var(--text-70);
    }

    .subtitulo {
        font-size: 10px;
        font-weight: 400;
        color: var(--text-70);
        margin-top: 5px;
    }

    .valor {
        position: relative;
        margin-top: 5px;
        font-size: 20px;
        color: var(--text-100);
        font-weight: 400;
    }



    hr {
        border: none;
        margin-top: 5px;
        border-radius: 3px;
        height: 2px;

    }

    .hr-linear {
        width: 100%;
        background: linear-gradient(90deg,
                #3859B2 0%,
                #AD59E3 50%,
                #E64294 100%);
        margin-top: auto;
        margin-bottom: 10px;
    }

    .hr-branco {
        width: 100%;
        background: var(--color-bg-white-60);
    }
}