@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* O css possui varios import isso adiciona render blocking e dificulta depuração */
@import url(components/header.css);
@import url(components/hero.css);

@import url(components/low-content.css);
@import url(global.css);
@import url(components/tema.css);
@import url(components/historico.css);
@import url(components/layout.css);
@import url(components/buttons.css);


:root {

    --text-70: rgba(255, 255, 255, 0.7);
    --text-90: rgba(255, 255, 255, 0.9);
    --text-100: rgba(255, 255, 255, 1);

    --color-black-70: rgba(0, 0, 0, 0.7);
    --color-black-90: rgba(0, 0, 0, 0.9);
    --color-black-100: rgba(0, 0, 0, 1);

    --color-white: rgba(255, 255, 255, 1);

    --color-primary-roxo: rgba(72, 49, 157, 1);

    --color-box-bg: rgba(72, 49, 157, 0.2);
    --color-box-bg-hover: rgba(72, 49, 157, 1);

    --color-box-hover: rgba(72, 49, 157, 0.4);

    --color-border-20: rgba(255, 255, 255, 0.2);
    --color-border-50: rgba(255, 255, 255, 0.5);
    --color-border-70: rgba(255, 255, 255, 0.5);

    --color-bg-white-60: rgba(255, 255, 255, 0.6);

    --color-bg-gradient: linear-gradient(135deg, #2E335A 0%, #1C1B33 100%);
    --cor-temp: rgba(255, 255, 255, 1);
    --cor-logo: #FFFFFF;
    --roxo-color: #48319D;



    --shadow-btn: inset 2px 2px 1px #FFF,
        inset -2px -2px 1px #bbbfc7,
        3px 2px 10px 0 rgba(0, 0, 0, 0.2);

    --shadow-box: inset 1px 1px 0px rgba(255, 255, 255, 0.25),
        4px 3px 10px rgba(0, 0, 0, 0.25);
}

html .light {
    --text-100: rgba(255, 255, 255, 1);
    --text-90: rgba(255, 255, 255, 0.9);
    --text-70: rgba(255, 255, 255, 0.7);

    --color-box-bg: linear-gradient(135deg, rgba(255, 158, 74, 1), rgba(255, 138, 51, 1), rgba(255, 106, 0, 1));
    --color-box-bg-hover: linear-gradient(135deg, rgba(255, 158, 74, 0.4), rgba(255, 138, 51, 0.4), rgba(255, 106, 0, 0.4));


    --color-box-bg: rgba(72, 49, 157, 0.2);
    --color-box-hover: rgba(72, 49, 157, 0.4);
    --color-bg-gradient: linear-gradient(135deg, #2E335A 0%, #1C1B33 100%);
    --cor-temp: rgba(255, 255, 255, 1);
    --cor-logo: #FFFFFF;
    --roxo-color: #48319D;

    --color-gradient-laranja: linear-gradient(90deg, #ff8a33 0%, #ff6a00 50%, #ff4f00 100%);
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    color: #FFF;
    min-width: 100%;
    font-style: normal;
    background: linear-gradient(135deg, #2E335A 0%, #1C1B33 100%);
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    column-gap: 40px;

    width: 1047px;
    max-width: 1280px;
    /* height: 538px; */
    margin: 0 auto;
    padding: 32px 32px;

    border-radius: 46px 46px 30px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.00);

    background: linear-gradient(156deg, rgba(46, 51, 90, 0.20) 5.86%, rgba(28, 27, 51, 0.20) 84.56%);
    box-shadow: 0.928px 0.928px 0 0 rgba(255, 255, 255, 0.25) inset, 0 1.055px 0 0 #FFF inset;
    backdrop-filter: blur(26px);
}

.low-scale {
    max-width: 100%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.low-content {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.container:before {
    content: "";
    width: 30%;
    height: 30%;
    max-width: 500px;
    max-height: 500px;
    background: conic-gradient(from 0deg at center,
            rgba(97, 47, 171, 1) 5%,
            rgba(97, 47, 171, 0) 14%,
            rgba(97, 47, 171, 1) 36%,
            rgba(97, 47, 171, 0) 63%,
            rgba(97, 47, 171, 1) 75%);
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: -10;
    border-radius: 50%;
    filter: blur(100px);
}


#label-temp {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    user-select: none;
    z-index: 2;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #ffaa00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}